<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsusKeyboardBackLightLvl</key>
	<data>
	AQ==
	</data>
	<key>Clover.Theme</key>
	<data>
	ZW1iZWRkZWQ=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	QA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	9g==
	</data>
	<key>backlight-level</key>
	<data>
	vgE=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	IzTTEwAAAABgFICliVs0pA==
	</data>
	<key>boot-args</key>
	<string></string>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhENTcwNDA5LTIx
	RTUtNDJFOS1BOTVDLUQzREIzQTYyRURDNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhENTcwNDA5LTIx
	RTUtNDJFOS1BOTVDLUQzREIzQTYyRURDNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAAEgGAAAAAADodkgXAAAA
	AAkEV43lIelCqVzT2zpi7cUCAn//BAA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhENTcwNDA5LTIx
	RTUtNDJFOS1BOTVDLUQzREIzQTYyRURDNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAA//8AAAQBKgACAAAAAEgGAAAAAADodkgXAAAA
	AAkEV43lIelCqVzT2zpi7cUCAgQDJAD3/HS+fAvzSZFHAfQELmhC2zdCnJyH3UCCchWA
	VskuMX//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B+DwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajkyAAAAAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AiUPAACH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajkyAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBQcm8=
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4PFhcOGA4ZGhscHR9fEA91bnJlZ2lzdGVyU3Rh
	dGVYdXNlckluZm9ZYXV0aFRva2VuXxARb3NVc2VyRGlzYXBwZWFyZWReZGlzYWJsZUNv
	bnRleHRWdXNlcmlkXWVuYWJsZUNvbnRleHRYdXNlcm5hbWVYcGVyc29uSURXYWRkVGlt
	ZVRndWlkXxASZW5hYmxlZERhdGFjbGFzc2VzXxATZGF0YWNsYXNzUHJvcGVydGllcxAA
	0xAREhMUFV8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5h
	bWVfEBJJblVzZU93bmVyTGFzdE5hbWVaQXNlcCBNLiBTLlRBc2VwVU0uIFMuXxDMRUFB
	aUFBQUFCTHdJQUFBQUFGdjVtLW9SRG1kekxtbGpiRzkxWkM1aGRYUm92UUNveXJIODZE
	a1kxU2dzUFg4dVNKLXRoZnFOXzdmZ29teWlQTFFyT29pdHI3UENXOFBfN1RTNF9IcDAx
	Q1dhdTFUQUpZczVvaWVfbk5fT1pfWHdXTm1pSTdlMDF3RGhwMjloRXA1MkNleGtTcGZS
	Ull2WnFQZUd1RENna08zRkZTSktNTWIzS25jcUZiVmc3NXpXWGJvdzB3UUk5Z35+CREB
	9V8QEGFkbWluQGFzZXBtcy5jb21bMTAxODkzNjU2NDUjQdb+ZvyrWwRfECQ4NzgzNEND
	QS02QTE4LTRGQjUtQjQ2RS02QzJBMDMyMDVCM0OhHl8QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvctEeINUhIiMkJSYnKCkqVmFwc0Vudlhob3N0bmFtZV1hdXRo
	TWVjaGFuaXNtVnNjaGVtZV1pZHNJZGVudGlmaWVyWlByb2R1Y3Rpb25fEBNwNDItZm1p
	cC5pY2xvdWQuY29tVXRva2VuVWh0dHBzXxAkQjdFNjI5MUUtQUNDMC00QzcwLUJEMjkt
	MjFCQUJFRkQxRjExAAgAIwA1AD4ASABcAGsAcgCAAIkAkgCaAJ8AtADKAMwA0wDrAQEB
	FgEhASYBLAH7AfwB/wISAh4CJwJOAlACdAJ3AoICiQKSAqACpwK1AsAC1gLcAuIAAAAA
	AAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAADCQ==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MjUy
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAA//8AAAQBKgACAAAAAEgGAAAAAADodkgXAAAA
	AAkEV43lIelCqVzT2zpi7cUCAgQDJAD3/HS+fAvzSZFHAfQELmhC2zdCnJyH3UCCchWA
	VskuMX//BAA=
	</data>
</dict>
</plist>
